.free-tag {
  background-color: #48bb78;
  font-size: 0.7rem;
  padding: 0.15rem 0.5rem;
  display: inline-flex;
  border-radius: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-right: 1rem;
}
