.free-tag {
  background-color: #48bb78;
  font-size: 0.75rem;
  padding: 0.3rem 0.8rem;
  display: inline-flex;
  border-radius: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-right: 1rem;
}
