@import '../../../variables.scss';

.event-item {
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.3rem 0.5rem #cdcdcd;
  border-radius: 0.25rem;

  .item-block-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      margin: 0;
      font-weight: 700;
    }
    button {
      margin-left: 0.5rem;
    }
    .sign-up-btn {
      border: 2px solid $light-blue;
      font-weight: 600;
      background-color: transparent;
      color: $light-blue;
      padding: 0.5rem;
      outline: none;
      cursor: pointer;
      min-width: 4.375rem;
    }

    .cancel-event-btn {
      border: 2px solid $dark-red;
      font-weight: 600;
      background-color: transparent;
      color: $dark-red;
      padding: 0.5rem;
      outline: none;
      cursor: pointer;
    }

    .registered {
      color: #098332;
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
  }

  .item-block-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    font-size: 0.8rem;
    color: #718096;

    span {
      flex: 1;
    }
    .city {
      text-align: left;
    }
    .duration {
      text-align: center;
    }
    .time-range {
      text-align: right;
    }
  }
}
